#!/bin/sh

# This script is supposed to be run during maintenance window
# Make sure Komga is not running if that's not the case

# config
backup_name='komga_backup'
backup_date=$(date +'%Y%m%d')
backup_path=$(mktemp -d)
rsync_target={{ komga.backup.rsync_target }}

# Print backup information
echo "Komga path: {{ komga.path }}"
echo "Komga internal data path: {{ komga.internal_data_path }}"
echo "Komga user: {{ komga.user.name }}"
echo "Komga group: {{ komga.group.name }}"
echo "Backup name: $backup_name"
echo "Backup date: $backup_date"
echo "Backup path: $backup_path"
echo "rsync target: $rsync_target"

echo "Ensure backup directory has correct permissions ..."
chown {{ komga.user.name }}:{{ komga.group.name }} $backup_path

echo "Create backup archive as komga user ..."
sudo -u {{ komga.user.name }} tar cvfz $backup_path/$backup_name-$backup_date.tgz {{ komga.internal_data_path }}

echo "Change ownership of the backup archive to root to ensure correct useful permissions on rsync server ..."
chown root:root $backup_path/$backup_name-$backup_date.tgz

echo "rsync to rsync server ..."
rsync -av --password-file={{ komga.path }}/rsync.pwd $backup_path/$backup_name-$backup_date.tgz $rsync_target

echo "Remove tmp directory ..."
rm -Rf $backup_path

echo "... done"
