#!/bin/sh

backup_date=$(date +'%Y%m%d')
backup_path=$(mktemp -d)
backup_name='komga_backup'
rsync_target={{ komga_rsync_target }}

chown {{ komga_user }}:{{ komga_group }} $backup_path

# Stop Navidrome
docker compose -f {{ komga_path }}/docker-compose.yml down

# Create backup archive
sudo -u {{ komga_user }} tar cvfz $backup_path/$backup_name-$backup_date.tgz {{ komga_data_path }}

# Start Navidrome
docker compose -f {{ komga_path }}/docker-compose.yml up -d

chown root:root $backup_path/$backup_name-$backup_date.tgz

# rsync to NAS
rsync -av --password-file={{ komga_path }}/rsync.pwd $backup_path/$backup_name-$backup_date.tgz $rsync_target

# Remove tmp directory
rm -Rf $backup_path
