services:
  komga:
    image: gotson/komga:latest
    container_name: komga
    restart: unless-stopped
    user: {{ uid }}:{{ gid }}
    ports:
      - '{{ komga.port }}:25600'
    volumes:
      - type: bind
        source: {{ komga.internal_data_path }}
        target: /config
      - type: bind
        source: {{ komga.ebooks_path }}
        target: /data/ebooks
      - type: bind
        source: {{ komga.comics_path }}
        target: /data/comics
    environment:
      - TZ=Europe/Berlin
      - KOMGA_DATABASE_CHECKLOCALFILESYSTEM=FALSE
      - KOMGA_TASKSDB_CHECKLOCALFILESYSTEM=FALSE
